/* eog fullscreen toolbar background */
overlay > revealer > box > toolbar {
 background-color: @bg_color;
}

/* progress bar border when selected */
window.background box.vertical > scrolledwindow > treeview.view:focus .progressbar:selected:not(:backdrop) {
 border-color: @selected_fg_color;
}

/* remove HdyHeaderBar rounded top corners */
.background:not(.tiled):not(.maximized):not(.solid-csd) headerbar.titlebar {
 border-top-left-radius: 0;
 border-top-right-radius: 0;
}

/* headerbar horizontal radio buttons */
viewswitcher button > stack > box.wide {
 padding: 8px 12px;
}

headerbar button.horizontal.radio {
 padding: 0;
}
