
/* avoid unwanted black frame when using HdyHeaderBar */
decoration {
    margin: 0;
}

.background.csd decoration {
    margin: 10px;
}

/* remove HdyHeaderBar rounded top corners */
.background:not(.tiled):not(.maximized):not(.solid-csd) headerbar.titlebar {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* remove the light border in the corner of the context menu */
.csd.popup decoration {
    box-shadow: none;
}

/* u-c-c background */
window box notebook scrolledwindow viewport box frame box iconview,
window box notebook scrolledwindow viewport box frame box iconview:backdrop {
    background-color: rgba(0, 0, 0, 0);
}
