# Create fontconfig configuration symlinks #

ehooks() {
	ehooks_require fontconfig

	local \
		symlink_dir="/etc/fonts/conf.d" \
		f

	einfo "Creating fontconfig configuration symlinks ..."
	for f in "${ED}"/etc/fonts/conf.avail/*; do
		f=${f##*/}
		[[ -d ${ED}${symlink_dir} ]] || dodir "${symlink_dir}"
		if [[ ! -L ${ED}${symlink_dir}/${f} ]]; then
			echo " * ${f}"
			dosym "../conf.avail/${f}" "${symlink_dir}/${f}"
		fi
	done
}
